<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="http://cragger.guide"><span class="glyphicon glyphicon-book"></span> Cragger Overview</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="/test"><span class="glyphicon glyphicon-user"></span> Publisher Login</a>
      </li>
    </ul>
  </div>
</nav>
