.jumbotron {
  background: #464b50;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #ee5026;
    border-color: #ee5026; }
    .jumbotron .btn-primary:hover {
      background: #d13910; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;    
    margin: auto;
 }
    .jumbotron .lang-logo img {
      max-width: 100%; }
