<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="http://cragger.guide/wp-content/themes/cragger/assets/images/cragger.logo.04.png">
    </a>
    <h1>Guide Manager</h1>
    <p>Cragger is a online guide publishing system for small and medium sized publishers of rock, ice, and bouldering guides.</p>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    If you're having trouble logging in, contact <a href="mailto:darrell@cragger.guide">Darrell@cragger.guide</a>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this Manager works</h3>
      <ul>
        <li>Become a climber</li>
        <li>Gather content from your favourite area.</li>
        <li>Take pictures, write content</li>
        <li>Publish to Cragger</li>
        <li>Profit</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Becoming a Publisher</h3>
      <ul>
        <li>Cragger is a free platform for amateur and professional publishers</li>
        </ul>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Stuff.
  </div>
</div>


</body>
</html>
